# Core Streamlit and data science libraries
streamlit
pandas
numpy
plotly
streamlit-option-menu
streamlit_drawable_canvas

# YOLO and its dependencies
ultralytics
opencv-python
Pillow

# CLIP-related for YOLO-World (prioritize PyPI version)
open-clip-torch

# Streamlit-webrtc and its video backend
streamlit-webrtc
av
